<main class="pageHome">
    <h1 class="hidden">Home page</h1>

    {{!-- add title screen --}}

    <div class="thingSec musicSec">
        <h2>Music</h2>
        <div class="menu">
            <div class="menuItem cordae"></div>
            <div class="menuItem gravy"></div>
            <div class="menuItem trippie"></div>
        </div>

        <div class="data cordae">
            <h3 class="name">{{cordae.name}}</h3>
            <p class="genre">{{cordae.genre}}</p>
            <img src="images/{{cordae.image}}" class="images">
            <h4 class="songs">Popular Songs</h4>
            <p class="popSongs">{{cordae.songs}}</p>
            <h4 class="descHead">Artist Bio</h4>
            <p class="desc">{{cordae.description}}</p>
        </div>
        <div class="data gravy hidden">
            <h3 class="name">{{gravy.name}}</h3>
            <p class="genre">{{gravy.genre}}</p>
            <img src="images/{{gravy.image}}" class="images">
            <h4 class="songs">Popular Songs</h4>
            <p class="popSongs">{{gravy.songs}}</p>
            <h4 class="descHead">Artist Bio</h4>
            <p class="desc">{{gravy.description}}</p>
        </div>
        <div class="data trippie hidden">
            <h3 class="name">{{trippie.name}}</h3>
            <p class="genre">{{trippie.genre}}</p>
            <img src="images/{{trippie.image}}" class="images">
            <h4 class="songs">Popular Songs</h4>
            <p class="popSongs">{{trippie.songs}}</p>
            <h4 class="descHead">Artist Bio</h4>
            <p class="desc">{{trippie.description}}</p>
        </div>
    </div>

    <div class="thingSec gameSec">
        <h2>Video Games</h2>
        <div class="menu">
            <div class="menuItem siege"></div>
            <div class="menuItem minecraft"></div>
            <div class="menuItem rocket"></div>
        </div>

        <div class="data siege">
            <h3 class="name">{{siege.name}}</h3>
            <p class="genre">{{siege.genre}}</p>
            <img src="images/{{siege.image}}" class="images">
            <p class="date">{{siege.date}}</p>
            <h4 class="descHead">Game Description</h4>
            <p class="desc">{{siege.description}}</p>
        </div>
        <div class="data minecraft hidden">
            <h3 class="name">{{minecraft.name}}</h3>
            <p class="genre">{{minecraft.genre}}</p>
            <img src="images/{{minecraft.image}}" class="images">
            <p class="date">{{minecraft.date}}</p>
            <h4 class="descHead">Game Description</h4>
            <p class="desc">{{minecraft.description}}</p>
        </div>
        <div class="data rocket hidden">
            <h3 class="name">{{rocket.name}}</h3>
            <p class="genre">{{rocket.genre}}</p>
            <img src="images/{{rocket.image}}" class="images">
            <p class="date">{{rocket.date}}</p>
            <h4 class="descHead">Game Description</h4>
            <p class="desc">{{rocket.description}}</p>
        </div>
    </div>

    <div class="thingSec activitySec">
        <h2>Activities</h2>
        <div class="menu">
            <div class="menuItem fest"></div>
            <div class="menuItem kayak"></div>
            <div class="menuItem soccer"></div>
        </div>

        <div class="data fest">
            <h3 class="name">{{fest.name}}</h3>
            <p class="genre">{{fest.genre}}</p>
            <img src="images/{{fest.image}}" class="images">
            <h4 class="descHead">Description</h4>
            <p class="desc">{{fest.description}}</p>
        </div>
        <div class="data kayak hidden">
            <h3 class="name">{{kayak.name}}</h3>
            <p class="genre">{{kayak.genre}}</p>
            <img src="images/{{kayak.image}}" class="images">
            <h4 class="descHead">Description</h4>
            <p class="desc">{{kayak.description}}</p>
        </div>
        <div class="data soccer hidden">
            <h3 class="name">{{soccer.name}}</h3>
            <p class="genre">{{soccer.genre}}</p>
            <img src="images/{{soccer.image}}" class="images">
            <h4 class="descHead">Description</h4>
            <p class="desc">{{soccer.description}}</p>
        </div>
    </div>
</main>